* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: rgb(243, 243, 243);
  font-family: "Noto Sans", sans-serif;
}

h2, h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

#body-wrapper {
  display: block;
  width: 80vw;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
}

/* header */
header {
  display: block;
  width: 100%;
  height: 10vh;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.header-column {
  display: block;
  width: 40%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 840px) {
  .header-column {
    width: auto;
  }
}

#header-name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}
#header-name #header-icon-circle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: linear-gradient(to bottom, #59b300, #006600);
  border-radius: 50%;
}
#header-name h1 {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 60%;
  margin-right: 15px;
  font-size: 25px;
  font-weight: bold;
}
#header-name p {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 60%;
  font-size: 15px;
}

#header-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 100%;
}
#header-nav a {
  font-size: 20px;
}
#header-nav i {
  margin-right: 5px;
}
@media screen and (max-width: 840px) {
  #header-nav {
    display: none;
  }
}

#header-nav-tab {
  display: none;
  justify-content: right;
  align-items: center;
  height: 100%;
}
#header-nav-tab a {
  font-size: 20px;
}
#header-nav-tab i {
  margin-right: 5px;
}
@media screen and (max-width: 840px) {
  #header-nav-tab {
    display: flex;
  }
  #header-nav-tab i {
    margin-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  #header-nav-tab {
    display: none;
  }
}

.heder-nav-li-right {
  margin-right: 30px;
  position: relative;
}
.heder-nav-li-right ::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #0097A7;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

/* END header */
/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

#main-wrapper {
  display: flex;
  justify-content: space-around;
  width: 60%;
  max-width: 1280px;
  height: 90%;
}
@media screen and (max-width: 840px) {
  #main-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  #main-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

#main-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
#main-picture img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#main-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
#main-description #main-description-bio {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 100%;
  height: 60%;
}
#main-description h2 {
  margin: 10px 0;
  font-size: 40px;
}
#main-description h3 {
  margin: 5px 0;
  font-size: 25px;
}
@media screen and (max-width: 1080px) {
  #main-description h2 {
    font-size: 30px;
  }
  #main-description h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #main-description {
    width: 80%;
  }
}

/* END main */
/* footer */
footer {
  display: block;
  width: 100%;
  min-height: 20vh;
  position: relative;
}
footer ::after {
  content: "";
  display: block;
  width: 80%;
  max-width: 1280px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0097A7;
}

#footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
  height: 20vh;
  margin: 0 auto;
}
@media screen and (max-width: 840px) {
  #footer-wrapper {
    flex-wrap: wrap;
    width: 80%;
  }
}

.footer-column {
  display: block;
  width: 20%;
  height: 100%;
}
@media screen and (max-width: 840px) {
  .footer-column {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .footer-column {
    width: 100%;
    height: 50%;
  }
}

.footer-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

#footer-nav {
  display: flex;
  justify-content: left;
}
#footer-nav a {
  display: block;
  height: 100%;
  margin-right: 10px;
}
#footer-nav i {
  margin-right: 5px;
}

/* END footer*//*# sourceMappingURL=main.css.map */